@font-face {
    font-family: OldRound;
    src: url(/fonts/OldRound-30-nonselect.ttf);
}

@font-face {
    font-family: Fungal600;
    src: url(/fonts/Fungal-Grow600.woff);
}

@font-face {
    font-family: Fungal200;
    src: url(/fonts/Fungal-Grow200.woff);
}
@font-face {
    font-family: Fungal100;
    src: url(/fonts/Fungal-Grow100.woff);
}
@font-face {
    font-family: Fungal1000;
    src: url(/fonts/Fungal-Grow1000.woff);
}
