@font-face {
    font-family: OldRound;
    src: url(/fonts/OldRound-30-nonselect.ttf);
}

@font-face {
    font-family: cmunti;
    src: url(/fonts/cmunti-webfont.woff);
}

@font-face {
    font-family: cmu;
    src: url(/fonts/cmunbi-webfont.woff);
}
@font-face {
    font-family: cmubold;
    src: url(/fonts/cmunbx-webfont.woff);
}
@font-face {
    font-family: cmuroman;
    src: url(/fonts/cmunrm-webfont.woff)
}
