body{
    background-color: hwb(240 0% 87%);
    position: relative;
    perspective: 1000px;
    overflow: auto;
}
.Ueberschrift{
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    /*left: 17%;*/
    /*transform: translateX(-50%);*/
    text-shadow: 2px 2px 5px  rgba(255, 255, 255, 0.84);
    z-index: 10;
    font-size: 2.5rem;
    /*writing-mode: vertical-rl;*/
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght" 80, "wdth" 100;
    background-color: transparent;
    
}
.Ueberschrift:hover ~ .note {
    opacity: 1;    

}

.grid {
    position: relative;
    width: 100%;
    height: 2000px;
    /*overflow: hidden;*/
    transform-style: preserve-3d;
    perspective: 2000px;
    

}
.post {
    animation: fall 10s linear infinite; 
    position: absolute; 
    width: 150px; 
    height: auto;
    transform: none;
    transform-style: preserve-3d;
    


}
.mask img {
    -webkit-mask-image: url(/masks/Maske_03.png) no-repeat center / contain;
    mask-image: url(/masks/Maske_03.png) /*no-repeat center  contain */;
    mask-repeat: no-repeat;
    mask-size: cover;
    object-fit: cover;
    width: 150px;
    height: auto;
    mask-composite: intersect;
    -webkit-mask-composite: source-in;

}
.mask {
    position: relative;
    background: url(/masks/Maske_03.png) /*no-repeat center / contain*/;
    
} 
.post:hover {
    animation-play-state: paused;
}

.post img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    max-width: none;
    max-height: none;
    margin-bottom: 2px;
    box-shadow: 0 0 15px 5px rgba(228, 246, 255, 0.359);
    /*filter: blur(1px)*/
}
.post img:hover {
    filter: none;
}
@keyframes fall {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(100vh); 
    }
}

@keyframes down {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(50%);
    }
}

.post p {
    font-size: 0.7rem;
    margin-top: 1px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px  rgba(255, 255, 255, 0.811);
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght" 100, "wdth" 110;
    font-variant-caps: small-caps;
    text-align: center;
    
}

.post a {
    text-decoration: none;
}
.note {
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 250px;
    text-align: left;
    color: rgba(255, 255, 255, 0.74);
    z-index: -10;
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght" 80, "wdth" 100;
}
.note:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 250px;
    text-align: left;
    color: rgba(255, 255, 255, 0.74);
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght" 80, "wdth" 100;
    z-index: -10;
}

.center {
    display: flex;
    justify-content: center;
    position: fixed;
}
details summary {
    list-style: none;
}
/*

.modal {
    display: none;
    position: fixed; 
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 600px; 
    height: auto; 
    background-color: hwb(240 0% 87%); 
    border-radius: 8px; 
    z-index: 1000; 
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.599); 
    overflow: hidden;
    animation: down 20s linear infinite; 
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    color: white;
    font-family: "Fungal100", sans-serif;
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 999; 
    display: none; 
}
    */
.btn-download {
    text-decoration: none;
    color: white;
}
.btn-download:hover {
    text-decoration: underline dotted white 3px;
}

