body{
    background-color: hwb(240 0% 87%);
    position: relative;
    perspective: 1000px;
}
/*
body::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background: repeating-linear-gradient(
        300deg,
        transparent,
        transparent 20px,
        rgba(70, 70, 70, 0.2) 20px,
        rgba(255, 255, 255, 0.2) 21px
    );
    z-index: -1;
}
    */
.Ueberschrift{
    color: rgba(255, 255, 255, 0.348);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px  rgb(255, 255, 255);
    z-index: -10;
    font-size: 4em;
    /*writing-mode: vertical-rl;*/
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 250;
    letter-spacing: 5px;
    
}

.grid {
    position: relative;
    width: 100%;
    height: 2000px;
    overflow: hidden;
    transform-style: preserve-3d;

}
.post {
    animation: fall 10s linear infinite; 
    position: absolute; 
    width: 150px; 
    height: auto;
    transform: scale(1);
}
.post:hover {
    animation-play-state: paused;
}

.post img {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
    margin-bottom: 2px;
    box-shadow: 0 0 15px 5px rgba(228, 246, 255, 0.359);
    filter: blur(1px)
}
.post img:hover {
    filter: none;
}
@keyframes fall {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(100vh); 
    }
}

.post p {
    font-size: 1.0rem;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px  rgba(255, 255, 255, 0.811);
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 250;
}

.post a {
    text-decoration: none;
}
.note {
    width: 250px;
    text-align: center;
    color: rgb(127, 16, 16);
}

.modal {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 600px; 
    height: auto; 
    /*background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 8px; 
    z-index: 1000; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    color: white;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 250;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 999; 
    display: none; 
}

